body{
  background : lightgrey;
}

#char_1 {
  position:absolute;
  border : 5px solid black;
  width: 50px;
  height: 50px;
  background-color: red;
  top: 580px;
  left: 250px;
}

#char_2 {
  position: absolute;
  border : 5px solid black;
  width: 50px;
  height: 50px;
  background-color: blue;
  top: 580px;
  left: 250px;
}

#mouse {
  position : absolute;
  border: 2px;
  padding: 10px;
  background-color: green;
  top: 0px;
  right: 0px;
}

.block{
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  font-size: 10px;
  position : relative;
  background-color : cyan;
  border: 1px solid black;
  right:0px; 
}

.border{
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  font-size: 10px;
  position : absolute;
  background-color : lime;
  border: 1px solid black;
  right:0px; 
}

.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  border: 2px solid #000;
  transition: width 0.1s ease, height 0.1s ease;
  margin-bottom: 20px;
}

.world {
  width: 1800px;
  height: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #444;
  transition: width 0.1s ease, height 0.1s ease;
}

/* retirer les bords */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; 
}

/* #darkness {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
} */

